
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
pre{
  font-family: Monospace;
  font-size: .75rem;
  color: pink;
  background-color:rgb(55, 45, 45);
  border-radius: 3rem;
  padding: 3rem;
  overflow: hidden;
}
code{
white-space: pre-wrap;
  word-break: break-all;
  width: 100%;
}
p{
  margin-bottom: 1rem;
}